In [134]:
import psycopg2

In [135]:
conn = psycopg2.connect(
    host = 'localhost',
    database='mydatabase',
    user = 'dsc180b',
    password = 'dsc180b'
)

In [136]:
cur = conn.cursor()

In [137]:
cur.execute(
    '''
    SELECT * FROM poles;
    '''
)

In [138]:
# Fetch all rows from the result set
rows = cur.fetchall()

# Print the result
for row in rows:
    print(row)

(1, 32.7455211, -117.0242656, 'Metal')
(2, 32.745515, -117.023937, 'Wooden')

In [139]:
cur.execute(
    '''
    INSERT INTO poles (latitude, longitude, type) VALUES
        (32.7455048, -117.0236152, 'Wooden');
    '''
)

In [140]:
cur.execute(
    '''
    SELECT * FROM poles;
    '''
)

In [141]:
# Fetch all rows from the result set
rows = cur.fetchall()

# Print the result
for row in rows:
    print(row)

(1, 32.7455211, -117.0242656, 'Metal')
(2, 32.745515, -117.023937, 'Wooden')
(6, 32.7455048, -117.0236152, 'Wooden')

In [142]:
# Deletes last row
cur.execute(
    '''
    DELETE FROM poles
    WHERE id = (
        SELECT id
        FROM poles
        ORDER BY id DESC
        LIMIT 1
    );
    '''
)

In [143]:
cur.execute(
    '''
    SELECT * FROM poles;
    '''
)

In [144]:
# Fetch all rows from the result set
rows = cur.fetchall()

# Print the result
for row in rows:
    print(row)

(1, 32.7455211, -117.0242656, 'Metal')
(2, 32.745515, -117.023937, 'Wooden')

In [145]:
cur.execute(
    '''
    CREATE TABLE mypoles (
        id SERIAL PRIMARY KEY,
        latitude DOUBLE PRECISION,
        longitude DOUBLE PRECISION,
        type VARCHAR(6)
    )
    '''
)

In [146]:
cur.execute(
    '''
    INSERT INTO mypoles (latitude, longitude, type) VALUES
    (32.7455211, -117.0242656, 'Metal'),
    (32.745515, -117.023937, 'Wooden');
    '''
)

In [147]:
cur.execute(
    '''
    SELECT * FROM mypoles;
    '''
)

In [148]:
# Fetch all rows from the result set
rows = cur.fetchall()

# Print the result
for row in rows:
    print(row)

(1, 32.7455211, -117.0242656, 'Metal')
(2, 32.745515, -117.023937, 'Wooden')

In [149]:
cur.execute(
    '''
    INSERT INTO mypoles (latitude, longitude, type) VALUES
        (32.7455048, -117.0236152, 'Wooden');
    '''
)

In [150]:
cur.execute(
    '''
    SELECT * FROM mypoles;
    '''
)

In [151]:
# Fetch all rows from the result set
rows = cur.fetchall()

# Print the result
for row in rows:
    print(row)

(1, 32.7455211, -117.0242656, 'Metal')
(2, 32.745515, -117.023937, 'Wooden')
(3, 32.7455048, -117.0236152, 'Wooden')

In [152]:
# Deletes last row
cur.execute(
    '''
    DELETE FROM mypoles
    WHERE id = (
        SELECT id
        FROM mypoles
        ORDER BY id DESC
        LIMIT 1
    );
    '''
)

In [153]:
cur.execute(
    '''
    SELECT * FROM mypoles;
    '''
)

In [154]:
# Fetch all rows from the result set
rows = cur.fetchall()

# Print the result
for row in rows:
    print(row)

(1, 32.7455211, -117.0242656, 'Metal')
(2, 32.745515, -117.023937, 'Wooden')

In [155]:
cur.execute(
    '''
    DROP TABLE mypoles;
    '''
)

In [156]:
cur.execute(
    '''
    SELECT * FROM mypoles;
    '''
)

UndefinedTable: relation "mypoles" does not exist
LINE 2:     SELECT * FROM mypoles;
                          ^